@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
	box-sizing: border-box;
	transition: .25s;
}

body{
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Rubik', sans-serif;
	background-color: hsl(226, 43%, 10%);
}

main{
	display: flex;
	width: 1140px;
}

.menu{
	min-width: 255px;
	height: 520px;
	margin: 15px;
	border-radius: 12px;
	overflow: hidden;
	background-color: hsl(235, 46%, 20%);
}

.menu span{
	color: hsl(236, 100%, 87%);
}

.top-menu{
	width: 100%;
	padding: 30px;
	border-radius: 12px;
	color: #fff;
	background-color: hsl(235, 45%, 61%);
}

.top-menu img{
	width: 78px;
	border-radius: 50%;
	border: 3px solid #fff;
	margin-bottom: 48px;
}

.top-menu h1{
	margin-top: 0;
	margin-bottom: 58px;
	font-weight: 300;
}

.bottom-menu{
	width: 100%;
	height: auto;
	padding: 28px 30px 30px 30px;
	color: hsl(236, 100%, 87%);
}

.bottom-menu p{
	color: hsl(236, 100%, 87%);
	cursor: pointer;
	padding: 14px 0;
	margin: 0;
}

.bottom-menu p:hover{
	color: #fff;
}

.bottom-menu p:nth-child(1){
	padding-top: 0;
}

.bottom-menu p:nth-child(3){
	padding-bottom: 0;
}

.info{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.col-50{
	position: relative;
	width: 255px;
	height: 245px;
	margin: 15px;
	border-radius: 12px;
	background-repeat: no-repeat;
	background-position: 95% 0%;
	background-size: 25%;
}

.work{
	background-color: hsl(15, 100%, 70%);
	background-image: url(images/icon-work.svg);
}

.play{
	background-color: hsl(195, 74%, 62%);
	background-image: url(images/icon-play.svg);
}

.study{
	background-color: hsl(348, 100%, 68%);
	background-image: url(images/icon-study.svg);
}

.exercise{
	background-color: hsl(145, 58%, 55%);
	background-image: url(images/icon-exercise.svg);
}

.social{
	background-color: hsl(264, 64%, 52%);
	background-image: url(images/icon-social.svg);
}

.self-care{
	background-color: hsl(43, 84%, 65%);
	background-image: url(images/icon-self-care.svg);
}

.bottom{
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0;
	border-radius: 12px;
	padding: 32px;
	color: #fff;
	background-color: hsl(235, 46%, 20%);
	cursor: pointer;
}

.bottom:hover{
	background-color: hsl(235, 46%, 35%);
}

.bottom img{
	cursor: pointer;
	padding: 7px 0;
}

.bottom img:hover{
	filter: grayscale(0);
}

.bottom p:nth-child(1){
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	margin: 0;
}

.bottom div p{
	color: hsl(236, 100%, 87%);
	font-weight: 400;
}

.bottom h1{
	font-size: 42px;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 40px 0 24px 0;
}

.active{
	color: #fff !important;
}

@media only screen and (max-width: 1150px){
	main{
		width: 100%;
	}

	.menu{
		height: auto;
	}

	.col-50{
		width: 45%;
	}
}

@media only screen and (max-width: 900px){
	main{
		flex-wrap: wrap;
	}

	.menu{
		width: 100%;
	}

	.top-menu{
		display: flex;
		align-items: center;
	}

	.top-menu img,
	.top-menu h1,
	.top-menu span{
		margin: 0;
		font-weight: 300;
	}

	.top-menu img{
		margin-right: 25px;
	}

	.bottom-menu{
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0;
	}

	.bottom-menu p{
		padding: 24px !important;
	}

	.info{
		justify-content: center;
}

@media only screen and (max-width: 600px){
	.col-50{
		width: 90%;
		height: 185px;
	}

	.bottom{
		height: 137px;
	}

	.bottom h1{
		margin: 12px 0 24px 0;
	}

	.bottom div{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}